/* #region common rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
}
/* #endregion common rules */

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region navigazione */
.menu {
    float: left;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}