/* #region common rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
}
/* #endregion common rules */

:root {
    --buttons: #0061FF;
    --firstback: #B4D0E7;
}

/* #region colonne */
.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 5);
}
/* #endregion colonne */

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region navigazione */
.top_menu {
    font-size: 70%;
    justify-content: space-between;
}

.imglogo {
    padding: 10px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
}

.begin {
    background-color: var(--buttons);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50px;
    height: 25px;
}
/* #endregion navigazione */

/* region main */
.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbo {
    background-color: var(--firstback);
    margin-top: 15px;
}

#jumbo_btn {
    position: relative;
    top: 10px;
    padding: 5px;
    width: 56%;
    color: white;
    background-color: var(--buttons);
    display: block;
}

.fa-arrow-down {
    position: relative;
    top: 70px;
    font-size: 2rem;
}