/* #region common rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
}
/* #endregion common rules */

:root {
    --buttons: #0061FF;
    --firstback: #B4D0E7;
}

/* #region colonne */
.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 5);
}
/* #endregion colonne */

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region navigazione */
.top_menu {
    font-size: 70%;
    justify-content: space-between;
}

.imglogo {
    padding: 10px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;
}

.begin {
    background-color: var(--buttons);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50px;
    height: 25px;
}
/* #endregion navigazione */

/* #region main section1 */
h1 {
    font-size: 75px;
    padding-top: 20px;
}

.container_1 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 55px;
}

.jumbo {
    background-color: var(--firstback);
    margin-top: 15px;
}

.jumbo_buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#jumbo_button {
    background-color: var(--buttons);
    color: white;
    padding: 10px;
}

.fa-arrow-down {
    font-size: 25px;
    padding-top: 30px;
}
/* #endregion main section1 */

/* #region main section2 */
.container {
    width: 50%;
    padding-top: 50px;
    margin: auto;
}

/* checkbox */
.business_btn {
    padding-top: 50px;
    padding-bottom: 50px;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.check {
    border: 4px solid var(--buttons);
}

.uncheck {
    border: 1px solid grey;
}

#year {
    padding-left: 10px;
}

/* business plan */
.left_plan span {
    font-size: 15px;
}

.top {
    border: 1px solid lightgrey;
    text-align: center;
}

.block {
    display: block;
}